body, html {
    height: 100%;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

h1 {
    padding-top: 10px;
    padding-bottom: 20px;
}

p, b, i, li, label, small, span {
    font-family: 'Roboto', serif;
    font-size: 20px;
}

small, span {
    font-size: 12px;
}

a {
    color: #DDA0DD;
}

label {
    display: block;
    font-size: 18px;
}

input, select, button {
    margin-bottom: 30px;
    font-size: 28px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 4px 6px;
}

img {
    max-width: 100%;
}

.container {
    display: block;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    box-sizing: border-box;
}

.header {
    color: #fff;
    background: #459280; /* Old Browsers */
    background: -webkit-linear-gradient(bottom left, #459280, #00ced1); /*Safari 5.1-6*/
    background: -o-linear-gradient(bottom left, #459280, #00ced1); /*Opera 11.1-12*/
    background: -moz-linear-gradient(bottom left, #459280, #00ced1); /*Fx 3.6-15*/
    background: linear-gradient(bottom left, #459280, #00ced1); /*Standard*/
}

.header-main {
    text-align: center;
    padding: 70px 40px;
}

.header-image {
    height: 400px;
    max-width: 100%;
}

.header-image-small {
    height: 200px;
    max-width: 100%;
}

.header-image > svg, .header-image-small > svg {
    height: 100%;
    width: 100%;
}

.header-desc {
    font-size: 24px;
}

.navbar-tabs {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 8px;
    text-align: center;
    font-size: 0; /* fixes an issue where the browser renders a space between the tabs. a font size of 0 makes the space basically invisible */
}

.navbar-tab {
    display: inline-block;
    font-size: 24px;
    padding: 13px 15px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;

    color: #fff;
    transition: background-color 0.2s ease-out;
}

.navbar-tab:hover, .navbar-tab.active {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-info-container {
    width: 1000px;
    max-width: 100%;
    padding: 0 30px;
    margin: -80px auto 20px;
    box-sizing: border-box;
}

.navbar-info {
    border-radius: 4px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}

.box {
    padding: 30px;
}

.box-blue {
    background: #7ddfdf; /* Old Browsers */
    background: -webkit-linear-gradient(top left, #518a8a, #00aeb0); /*Safari 5.1-6*/
    background: -o-linear-gradient(top left, #518a8a, #00aeb0); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top left, #518a8a, #00aeb0); /*Fx 3.6-15*/
    background: linear-gradient(top left, #518a8a, #00aeb0); /*Standard*/
    color: #fff;
}

.box-pink {
    color: #fff;
    background: #c790c7;
}

.box-gray {
    background: #ddd;
}

#footer {
    background-color: rgba(0, 0, 0, 0.1);
}

.error-box {
    color: #fff;

    background-image: -webkit-gradient(
            linear,
            right bottom,
            right bottom,
            color-stop(0, #EF9A9A),
            color-stop(1, #F44236)
    );
    background-image: -o-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: -moz-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: -webkit-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: -ms-linear-gradient(right bottom, #EF9A9A 0%, #F44236 100%);
    background-image: linear-gradient(to right bottom, #EF9A9A 0%, #F44236 100%);
}

.countdown {
    margin-top: 38px;
    font-family: 'Work Sans', monospace;
}

.countdown-box {
    display: inline-block;
}

.countdown-title {
    margin-bottom: 4px;
}

.countdown-value {
    font-size: 48px;
    margin: 5px 12px;
}

.countdown-colon {
    font-size: 48px;
    display: inline;
}

.social-buttons {
    margin-top: 40px;
}

.social-media {
    display: inline-block;
    padding: 8px 16px;

    cursor: pointer;

    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.3);

    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 32px;

    transition: color 0.2s ease-out, border-color 0.2s ease-out, background-color 0.2s ease-out;
}

.social-media:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.1);
}

.account-media-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.account-media {
    flex-grow: 1;

    color: #fff;
    text-align: center;

    margin: 0 20px 20px;
    padding: 40px 20px 20px;
    border-radius: 8px;
}

.account-media > .social-media {
    margin-top: 20px;
}

.account-media-logo {
    width: 120px;
    height: 120px;
    max-width: 100%;
    margin: 0 auto;
}

.account-media-logo > svg {
    width: 100%;
    height: 100%;
}

.account-media-input {
    font-size: 18px;
    background: none;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border: 0;

    width: 150px;
    max-width: 100%;
    display: block;
}

.account-media-beam {
    background-image: -webkit-gradient(
            linear,
            right bottom,
            left top,
            color-stop(0, #6C3C97),
            color-stop(1, #3EC7F4)
    );
    background-image: -o-linear-gradient(left top, #6C3C97 0%, #3EC7F4 100%);
    background-image: -moz-linear-gradient(left top, #6C3C97 0%, #3EC7F4 100%);
    background-image: -webkit-linear-gradient(left top, #6C3C97 0%, #3EC7F4 100%);
    background-image: -ms-linear-gradient(left top, #6C3C97 0%, #3EC7F4 100%);
    background-image: linear-gradient(to left top, #6C3C97 0%, #3EC7F4 100%);
}

.account-media-twitter {
    background-image: -webkit-gradient(
            linear,
            right bottom,
            left top,
            color-stop(0, #1FA1F1),
            color-stop(1, #6FC6F5)
    );
    background-image: -o-linear-gradient(left top, #1FA1F1 0%, #6FC6F5 100%);
    background-image: -moz-linear-gradient(left top, #1FA1F1 0%, #6FC6F5 100%);
    background-image: -webkit-linear-gradient(left top, #1FA1F1 0%, #6FC6F5 100%);
    background-image: -ms-linear-gradient(left top, #1FA1F1 0%, #6FC6F5 100%);
    background-image: linear-gradient(to left top, #1FA1F1 0%, #6FC6F5 100%);
}

.account-media-twitch {
    background-image: -webkit-gradient(
            linear,
            left top,
            right bottom,
            color-stop(0, #B9A3E3),
            color-stop(1, #6441A5)
    );
    background-image: -o-linear-gradient(right bottom, #B9A3E3 0%, #6441A5 100%);
    background-image: -moz-linear-gradient(right bottom, #B9A3E3 0%, #6441A5 100%);
    background-image: -webkit-linear-gradient(right bottom, #B9A3E3 0%, #6441A5 100%);
    background-image: -ms-linear-gradient(right bottom, #B9A3E3 0%, #6441A5 100%);
    background-image: linear-gradient(to right bottom, #B9A3E3 0%, #6441A5 100%);
}

.sponsor {
    text-align: center;
    display: block;
    min-height: 60px;
    margin-bottom: 30px;
}

.trophy {
    max-width: 100px;
}

.trophy > object {
    max-width: 100px;
}

.trophy-text {

}

.center {
    text-align: center;
}

@media (min-width: 1080px) {
    .navbar-tabs {
        height: 80px;
    }

    .navbar-tab {
        padding: 26px 30px;
    }

    .container {
        padding: 0 50px;
    }
}